:root {
    font-synthesis: none;
	--old-serif: "EB Garamond", ebg-vf, ebgara, "Adobe Garamond Pro", "Palatino", "Palatino Linotype";
	--source-han-serif: "思源宋体", "Source Han Serif SC", "Noto Serif CJK SC", "思源宋体 CN", "Source Han Serif CN", "Noto Serif SC", source-han-serif-vf;
	--source-han-sans: "思源黑体", "Source Han Sans SC", "Noto Sans CJK SC", "思源黑体 CN", "Source Han Sans CN", "Noto Sans SC", source-han-sans-vf;
}

/* serif-regular */

@font-face{
    font-family: ebg-vf;
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-VF-basic.woff2) format('woff2');
    unicode-range: U+0020-007f,U+00a0-00ff;
}
@font-face{
    font-family: ebg-vf;
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-VF-suppl.woff2) format('woff2');
    unicode-range: U+0370-03ff,U+20a0-20bf,U+2100-214f;
}
@font-face{
    font-family: ebg-vf;
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-VF-num.woff2) format('woff2');
    unicode-range: U+2150-217f,U+2200-22ef,U+2474-24b5;
}
@font-face{
    font-family: ebg-vf;
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-VF-symb.woff2) format('woff2');
    unicode-range: U+25a0-25a1,U+25b2-25b3,U+25b6-25b7,U+25bc-25bd,U+25c0-25c1,U+25c7-25c7,U+25ca,U+2619,U+2766-2767,U+e001-e002;
}
 @font-face{
    font-family: ebg-vf;
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-I-VF-basic.woff2) format('woff2');
    unicode-range: U+0020-007f,U+00a0-00ff;
}
@font-face{
    font-family: ebg-vf;
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-I-VF-suppl.woff2) format('woff2');
    unicode-range: U+0370-03ff,U+20a0-20bf,U+2100-214f;
}
@font-face{
    font-family: ebg-vf;
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-I-VF-num.woff2) format('woff2');
    unicode-range: U+2150-217f,U+2200-22ef,U+2474-24b5;
}
@font-face{
    font-family: ebg-vf;
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-I-VF-symb.woff2) format('woff2');
    unicode-range: U+25a0-25a1,U+25b2-25b3,U+25b6-25b7,U+25bc-25bd,U+25c0-25c1,U+25c7-25c7,U+25ca,U+2619,U+2766-2767,U+e001-e002;
}

@font-face{
    font-family: ebgara;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG12-Regular.woff) format('woff');
    unicode-range: U+0020-007f,U+00a0-00ff,U+0370-03ff,U+20a0-20bf,U+2100-214f,U+2150-217f,U+2200-22ef,U+2474-24b5,U+25a0-25a1,U+25b2-25b3,U+25b6-25b7,U+25bc-25bd,U+25c0-25c1,U+25c7-25c7,U+25ca,U+2619,U+2766-2767,U+e001-e002;
}
@font-face{
    font-family: ebgara;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG12-Italic.woff) format('woff');
    unicode-range: U+0020-007f,U+00a0-00ff,U+0370-03ff,U+20a0-20bf,U+2100-214f,U+2150-217f,U+2200-22ef,U+2474-24b5,U+25a0-25a1,U+25b2-25b3,U+25b6-25b7,U+25bc-25bd,U+25c0-25c1,U+25c7-25c7,U+25ca,U+2619,U+2766-2767,U+e001-e002;
}
@font-face{
    font-family: ebgara;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/resources/OpenFont/EBGaramond/EBG-SemiBold.woff2) format('woff2');
    unicode-range: U+0020-007f,U+00a0-00ff,U+0370-03ff,U+20a0-20bf,U+2100-214f,U+2150-217f,U+2200-22ef,U+2474-24b5,U+25a0-25a1,U+25b2-25b3,U+25b6-25b7,U+25bc-25bd,U+25c0-25c1,U+25c7-25c7,U+25ca,U+2619,U+2766-2767,U+e001-e002;
}

@font-face {
	font-family: source-han-serif-vf;
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src:
		local("思源宋体 VF"),
		local("思源宋体 CN VF"),
		url(/resources/OpenFont/SourceHanSerifCN-VF.otf.woff2) format('woff2');
	unicode-range: U+4e00-9fff;
}

body, .serif, .gsc-control-cse, .gsc-table-result, .gs-snippet {
	font-variant: discretionary-ligatures oldstyle-nums;
    font-family: var(--old-serif), var(--source-han-serif), "Songti SC", "华文宋体", "方正宋三简体", STSong, serif;
    font-weight: 400;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, .gs-title {
	font-family: var(--old-serif), var(--source-han-serif), "Songti SC", biaosong, serif;
    font-weight: 600;
	font-style: normal;
}
h1, h2 {
    font-weight: 700;
}
th, td {
	font-style: normal;
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}
td {
    font-weight: 400;
}
h1, h2, h3 {
	font-feature-settings: "swsh";
}
th, td:only-child {
	font-weight: 600;
}

/* serif-italic */

@font-face {
	font-family: fangsong-non-italic;
	font-style: italic;	/* 防止浏览器合成斜体 */
	font-weight: 400;
	src: local("华文仿宋"), local("STFangSong"), local("仿宋"), local("fangsong"), local("Kaiti SC"), local("华文楷体");
}
@font-face {
	font-family: biaosong;
	font-style: normal;
	font-weight: 600;	/* 防止浏览器合成粗体 */
	src: local("方正小标宋简体"), local("华文中宋"), local("STZhongsong");
}

.fangsong, q, blockquote, header>p:first-child, article footer, .date {
	font-family: var(--old-serif), fangsong-non-italic, var(--source-han-serif), serif;
	font-weight: 400;
	font-style: italic;
}

/* sans-serif */

@font-face {
	font-family: source-han-sans-vf;
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src:
		local("思源黑体 VF"),
		local("思源黑体 CN VF"),
		url(/resources/OpenFont/SourceHanSerifCN-VF.otf.woff2) format('woff2');
	unicode-range: U+4e00-9fff;
}
@font-face {
	font-family: ccsymbols;
	font-style: normal;
	font-display: swap;
	src:
        local("CCSymbols"),
        url(/resources/OpenFont/ccsymbols.woff2) format('woff2');
    unicode-range: U+a9, U+229c, U+1f10d-1f10f, U+1f16d-1f16f;
}
.sans, .sans h2, .sans h3, .sans h3, .sans h4, .sans h5, .sans h6, .sans .gs-title  {
	font-family: var(--source-han-sans), sans-serif;
}
.ui, nav, button, select {
	font-family: "Futura", "Century Gothic", "Avenir", "Segoe UI", "Microsoft Yahei UI", "微软雅黑", "Lantinghei SC", var(--source-han-sans-vf), sans-serif;
	font-weight: 400;
	font-style: normal;
}
body>footer {
	font-family: ccsymbols, "Futura Light", "Century Gothic Light", "Avenir Light", "Segeo UI Light", "Microsoft Yahei UI Light", "微软雅黑 Light", "Lantinghei SC Extralight", var(--source-han-sans), sans-serif;
    font-weight: 300;
	font-style: normal;
}

/* monospace */

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local("Ubuntu Mono"),
		url(/resources/OpenFont/UbuntuMono_latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

code, th, td {
	font-family: "Ubuntu Mono", Monaco, "Lucida Console", monospace;
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}