@import url("/style/layout.css");

:root {
	background-color: #fbf2e3;
	background-image: url("/style/cream-paper.png");
	color: #222222;
    border-color: #222222;
}
a {
	color: #222222;
}
a:hover {
	color: #888888;
}
body>footer {
	color: #888888;
	opacity: 0;
}
nav {
	background-color: none;
}