@import url("/style/layout.css");

:root { background-color: #000000; background-image: url("/style/real-carbon-fibre.png"); color: #ffffff; }
a { color: #ffffff; }
a:hover { color: #EBBC4A; }
nav { background-color: RGBA(255,255,255,0.25); }
hr { border: thin solid RGBA(255,255,255,0.25); }
h1, h2, h3, h4, h5, h6, hr, blockquote, aside { border-color: RGBA(255,255,255,0.5); }
aside, pre { background-color: RGBA(255,255,255,0.25); }
body>footer { color: #cccccc; }

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Exo:400,400i,700&display=fallback');
:root, button, select { font-family:"exo", "trebuchet ms", sans-serif; }
.res { color:#00C2FF; font-variant: tabular-nums; }
.enl { color:#28F428; font-variant: tabular-nums; }

/* ui */
select, button { color:#ffffff; border:solid 1px #59FBEA; margin:0 0.25em; }
select { background-color:#0c0c0c; }
button { background-color:#004F4A; }
select:focus, select:hover { border-color:#EBBC4A; }
button:focus, button:hover { background-color:#0F2225; border-color:#EBBC4A; }
.title a, .ui a, nav a, footer a { text-decoration: none; }