
/* body */

:root {
	line-height: calc(1.2em + 1.5vh);
}
body {
	margin: 5vh auto;
	width: 35rem;
	max-width: 85vw;
}
body>div.justify,div.center {
	min-height: calc(87.5vh - 1.2rem - 1.5vh);
}
@media (min-height: 420px) {
	body>:not(nav) { transform: translateY(calc(100vh / 3.75 - 112px)); }
	body>div.justify, body>div.center { min-height: calc(87.5vh - 100vh / 3.75 + 112px - 1.2rem - 1.5vh); }
}
.justify h3, .justify h4, .justify h5, .justify h6 {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: solid rgba(238,238,238,0.6);
}
blockquote {
    border-left: 0.25em solid rgba(238,238,238,0.8);
    line-height: calc(1.2em + 1.2vh);
    padding-left: 0.75em;
}
.justify, pre {
	text-align: justify;
}
pre {
    line-height: 1em;
}
h1, h2, .center, footer {
	text-align: center;
}
.date {
	text-align: right;
}

/* ui */

nav {
	position: fixed;
	z-index: 999;
	right: 5%;
	bottom: 5vh;
    width: calc(1.5em + 1.25vh);
	height: calc(1.5em + 1.25vh);
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}
nav#top {
    top: 5vh;
    width:auto;
    background: none;
}
nav + nav {
    transform: translateY(calc(-2em - 1.25vh))
}
footer {
	margin: auto;
	min-width:18rem;
	max-width:350px;
}
hr {
	width: 10em;
	border-top: dashed rgba(127,127,127,0.62);
}

/* img */

iframe, img {
	display: block;
	margin: auto;
	max-width: 100%;
}
nav img, footer img {
	display: inline;
	height: 1em;
}

/* table */

table {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	border: #222222;
	border-style: solid hidden;
	border-spacing: 0;
}	@media (max-width: 414px) { table {
	width: 100vw;
	margin-left: -7.5vw;
}}
table tr:first-child th, table tr:first-child td {
	text-align: center;
	border: thin #222222;
	border-style: solid hidden;
}
th, td {
	line-height: 1.25em;
	padding: 0.25em 0.5em;
	border: thin lightgray;
	border-style: dotted hidden; 
}

/* print style*/

@media print {
	body { color: #000000; background: #ffffff; }
	nav { display: none; }
	footer { opacity: 1; }
}