@import url("/style/layout.css");

:root {
	background-color: #222222;
	background-image: url("/style/black-paper.png");
	color: #eeeeee;
}
a {
    color: #eeeeee;
}
a:hover, body>footer {
	color: #ffffff;
}
nav {
	background-color: RGBA(127,127,127,0.33);
}
h1, h2, h3, h4, h5, h6, hr, blockquote, aside {
    border-color: rgba(127,127,127,0.33);
}
aside, pre {
    background-color: rgba(127,127,127,0.33);
}

td {
    border-color: #888888;
}

@media print and (min-aspect-ratio: 4/3) {
	body {
		width: 95%;
		column-count: 2;
		column-gap: 5%;
}}