@import url("/style/layout.css");

:root {
	background-color: #f9f4dc;
	background-image: url("/style/natural-paper.png");
	color: #222222;
    border-color: #222222;
}
body {
    text-align: center;
}
a {
    color: #222222;
}
a:hover {
	color: #444444;
}