@import url("/style/layout.css");

:root {
	background-color: #e1e4ed;
	background-image: url("/style/natural-paper.png");
	color: #222222;
    border-color: #222222;
}
a {
    color: #222222;
}
a:hover, body>footer {
	color: #888888;
}
nav {
	background-color: RGBA(255,255,255,0.6);
}
h1, h2, h3, h4, h5, h6, hr, blockquote {
    border-color: RGBA(64,64,64,0.6);
}
aside, pre {
    background-color: RGBA(238,238,238,0.2);
}

td {
    border-color: #888888;
}

@media print and (min-aspect-ratio: 4/3) {
	body {
		width: 95%;
		column-count: 2;
		column-gap: 5%;
}}