:root {
	background-color: #e1e4ed;
	background-image: url("/style/natural-paper.png");
	color: #222222;
}
a {
	color: #222222;
}
a:hover {
	color: #888888;
}
nav {
	background-color: RGBA(255,255,255,0.5);
}
footer {
	color: #888888;
	opacity: 0.25;
}
footer:hover {
	opacity: 1;
}
